* {
    margin: 0px;
    /* padding: 0px; */
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}

.firstp {
    width: 100vw;
    height: 100vh;
    background-color: rgb(70 22 175);
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

#navul {
    list-style: none;
    color: white;
    display: flex;
    width: 100vw;
    height: 14vh;
    align-items: center;
    overflow-x: none;
    flex-wrap: wrap;
}

#headings a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
}

#headings {
    position: absolute;
    right: 67px;
}

#logo {
    width: 118px;
    margin-left: 67px;

}

#txt11 {
    width: 510px;
    height: 400px;
    background-color: rgb(70 22 175);
    margin-top: 100px;
    margin-left: 60px;
    display: flex;
    padding: 30px;
    flex-direction: column;
    color: white;
    flex-wrap: wrap;
}

#toptxt11 {
    font-size: 2.8em;
    margin-bottom: 30px;
}

#btmtxt11 {
    font-size: 0.9em;
}

#img11 {
    width: 415px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

/* page 2 */
.spage {
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p2container1 {
    width: 1100px;
    height: 550px;
    display: flex;
    flex-direction: column;
}

.p2c1c1 {
    font-size: 2.8em;
    margin-top: -36px;
    text-align: center;
    margin-bottom: 60px;
}

.p2c1c2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#leftb {
    width: 400px;
    height: 450px;
    margin-right: 90px;
}

#rightb {
    width: 400px;
    height: 450px;
    margin-left: 90px;
}

#phone {
    width: 167px;
    margin-top: -22px;
}

#leftbul,
#rightbul {
    display: flex;
    color: rgb(83, 81, 81);
}

#leftbuleft {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: right;
}

#leftbulright {
    display: flex;
    flex-direction: column;
    margin-left: -20px;
}

.smol {
    margin: 29px 0px;
    width: 43px;
}

.heads {
    font-size: 1.1em;
    margin: 10px 0px;
    font-style: bold;
    color: Black;
}

.x {
    margin: 13px 0px;
}

.y {
    margin: 35px -17px;
}

#rightbulright {
    text-align: left;
    list-style: none;
    margin: -8px 0px;
}


/* third page */

/* entire page */
.tpage {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

/* container that holds all elements in third page */

#tcontainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
}

/* read our reviews part */

#tpage1 {
    width:400px;
    height:100px;
    /* border: 2px solid black; */
    align-self: center;
    text-align: center;
    padding: 20px;
    font-size: 1.8em;
    font-weight: bolder;
    padding-top: 55px;
}

/* containers the three reviews place row wise */

#tpage2 {
display: flex;
/* new */
justify-content: center;
margin-bottom: 50px;
width: 75vw;
margin-left: 160px;
}
.person
{
    /* containers that hold person ka reviews */
    margin: 30px 7px;
    text-align: center;
}
.personimg{
    width: 72px;
}
.personname{
    font-weight: bolder;
    font-size: 0.9em;
}
.personwork{
    color: rgb(83, 81, 81);
    font-size: 0.85em;
}
.review{
    text-align: left;
    color: rgb(83, 81, 81);
    font-size: 0.85em;
}
#tpage3{
    /* last contact us block that is purple */
    background-color: rgb(70 22 175);
    height: 370px;
    display: flex;
    flex-direction: column;
}
#lastline{
    color: white;
    font-size:2.1em;
    align-self: center;
    font-weight: bolder;
    margin-top: 130px;
}
#contacts{
    display: flex;
    color: white;
    justify-content: center;
}
#email, #number{
    padding: 20px;
    display: flex;
    align-items: center;
    padding-top: 20px;
}
#tpage3 img{
    padding-right: 20px;
    width: 40px;
}


